*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  background: #fef68a;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;

  &.new {
    background: #67d7cc;

    textarea {
      border: none;
      resize: none;
      background: #67d7cc;
      font-family: "Montserat", sans-serif;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  .note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .save {
      background: #e1e1e1;
      border: none;
      border-radius: 15px;
      padding: 5px 10px;

      &:hover {
        background: #ededed;
        cursor: pointer;
      }
    }

    .delete-icon {
      cursor: pointer;

      &:hover {
        color: darkgrey;
      }
    }
  }
}
